* {
    box-sizing: border-box;
}

html {
	margin:0;
	padding:0;
	height:100%;
	width:100%;
}

body {

	margin:0;padding:0;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 0.875rem!important;
    font-weight: 400!important;
    line-height: 1.5!important;

}

/* Globals */
a {
	
	color:#FFF;
	text-decoration:none !important;
	cursor:pointer;

}

a:hover {
	
	text-decoration:none !important;
	cursor:pointer;

}

.text-end {
	
	text-align:right;

}

.text-small {

	font-size:0.8em;

}

/* FLAG ICON FIX */
.flag-icon-uk {
	background-image: url(/vendors/flag-icon-css/flags/4x3/gb.svg);
}

.ng-leave {
    display:none !important;
}

.text-highlight {
	color:$color-nav-light!important;
}

.text-white, {
	color:#FFF;
}

.text-black {
	color:#000;
}

.h4, h4 {
	font-size:1.5rem!important;
}

.btn {

    padding: .5rem .75rem!important;
    font-size: 1rem!important;
    line-height: 1.25!important;

}