.news-nav-menu {
	display:none;
}

@media only screen and (max-width: 640px) {

	.nav-header {

		padding-left:5px;
		padding-right:5px;

		.header-title {
			padding-left:0px;
		}

		a.header-title-text {

			font-size:1.5em!important;

		}

		a.nav-btn {

			padding: .25rem .5rem;
			font-size: .875rem;
			line-height: 1.5;
			border-radius: .2rem;

		}


	}

	.nav-bottom-menu {

		display:block;
		left:0 !important;
		width:100% !important;
		font-size:0.6rem;
		position:fixed;
		bottom:0;
		z-index:999;
		height:10vh;
		padding-right:2vw;

		background-color:$color-nav-dark-opaque;
		-moz-transition: left 0.3s; // Mozilla
		-webkit-transition: left 0.3s; // Webkit
		transition: left 0.3s; // W3C

		.row {
			width:100%;
		}

		a.item {

			display:inline-block;
			height:100%;
			font-size: 6vh;
			line-height: 10vh;
			text-align:center;
			cursor:pointer;
			width:10vw !important;
			color:$color-nav-grey;

			img {
				width:8vh;
			}

		}

		a.item:focus, a.item:hover, a.active {

			color:$color-nav-light;

		}

	}

	.row-buffer {

		display:none!important;
	
	}

	.content {
	
		bottom:10vh !important;
		.news-nav-tabs {

			display:none !important;
		}
		.news-nav-menu {

			display:block;

		}

		.item-row {

			.logo-circle {

				padding-left:5px;
				padding-right:5px;

			}

			a.circle {

				width:32px !important;
				height:32px !important;

			}

			h4 {

				font-size:0.9rem!important;

			}
			.subtext {

				font-size:0.7rem!important;

			}

		}
	
	}

	.nav-overlay {

		font-size:0.8em;

		label {
			
			font-size: 0;
			padding:0;

		}
		label:before {
			
			margin: 0;
			font-size: 16px;
		
		}

		.nav-overlay-contents {

			width:95vw;

		}

	}
	
	.nav-header-menu-expand {
		
		height:calc( 100% - 70px );

	}

	.cookie-warning {
		display:none!important;
	}


	.source {

		font-size:0.8rem;

		.logo {

			width:70px;

		}

		.nologo {

			width:50px;
			height:50px;

		}

		h2 {

			font-size:0.9rem;

		}

		a.close {

			font-size:18px;
			width:24px;
			height:24px;
			border:1px solid $color-nav-dark-opaque;
			line-height:22px;
			color:$color-nav-dark-opaque;

		}

		a.close:hover {

			border:1px solid $color-nav-light;

		}

		.btn-sm {
			
			padding: .05rem .5rem;
    		font-size: 0.675rem;
			height:18px;

		}

	}

}
