
$color-main-dark:rgba(64,24,33,0.8);
$color-main-light:rgba(199, 167, 140, 0.8);

$color-nav-dark:rgba(30, 51, 70, 0.8);
$color-nav-dark-opaque:rgba(30, 51, 70, 1);
$color-nav-dark-shadow:rgba(42,70,95, 1);

$color-nav-light:#e66c09;
$color-nav-opaque:rgba(0, 0, 0, 0.8);

$color-nav-grey:rgba(130,130,130,0.8);
$color-nav-grey-light:rgba(170,170,170,0.8);

$color-nav-overlay:rgba(228, 214, 202, 0.8)