<div ng-show="ctrl.item" class="item-container content-pad">

	<div class="container">

		<div class="row">
		
			<div class="col-12">
		
				<news-item item="ctrl.item" logos="ctrl.nav.items.logos" class="nav-votes"></news-item>
		
			</div>
		
		</div> 
		
		<div class="row h-100" ng-show="!vm.isLoggedIn()">
		
			<div class="col-12 h-100 text-center">
		
				<a href="" ng-click="vm.login()" class="logged-out">You must be logged in to comment</a>
		
			</div>
		
		</div>

	</div>

</div>
<div class="item-comment-container">

	<div class="container" ng-show="ctrl.comments">

		<div class="row justify-content-center">

			<div class="col-md-8 col-xs-8">

				<div class="reply-field" ng-show="vm.isLoggedIn()">

					<a class="reply-field-button" ng-click="ctrl.nav.reply = !ctrl.nav.reply">
						<span ng-show="ctrl.nav.reply">-</span>
						<span ng-show="!ctrl.nav.reply">+</span>
					</a>
				
				</div>
				<div class="reply-box" ng-class="{'reply-box-active':ctrl.nav.reply}">

					<div class="row box">
						
						<div class="col-12">

							<commentbox item="ctrl.item.stub"></commentbox>
					
						</div>

					</div>

				</div>

				<div class="sorting"> Sort by:
					<a href="" ng-click="vm.orderBy('likes');ctrl.nav.category = 'likes'" ng-class="{'active':ctrl.nav.category==='likes'}">likes</a> 
					<a href="" ng-click="vm.orderBy('dislikes');ctrl.nav.category = 'dislikes'" ng-class="{'active':ctrl.nav.category==='dislikes'}">dislikes</a> 
					<a href="" ng-click="vm.orderBy('new');ctrl.nav.category = 'new'" ng-class="{'active':ctrl.nav.category==='new'}">new</a> 
					<a href="" ng-click="vm.orderBy('old');ctrl.nav.category = 'old'" ng-class="{'active':ctrl.nav.category==='old'}">old</a> 
				</div>
				
				<comments comments="ctrl.comments" item="ctrl.item" children="ctrl.children" sort="ctrl.sort"></comments>

			</div>

		</div>

	</div>

</div>

