<div class="content-pad">

  <source ng-if="vm.getParam('source') !== false" class="source" logos="ctrl.config.logos" data="ctrl.source"></source>

  <div class="nav-pane news-nav-tabs">

    <ul class="nav nav-tabs">

      <li class="nav-item"><a class="nav-link" ng-class="{'active':vm.getParam('orderBy') === 'votesUp'}" ng-click="vm.setParam('orderBy','votesUp');" href="">Hot</a></li>

      <li class="nav-item"><a class="nav-link" ng-class="{'active':vm.getParam('orderBy') === 'votesDown'}" ng-click="vm.setParam('orderBy','votesDown');" href="">Cold</a></li>


      <li class="nav-item"><a class="nav-link" ng-class="{'active':vm.getParam('orderBy') === 'dtUp'}" ng-click="vm.setParam('orderBy','dtUp');" href=""><span ng-class="{'text-highlight':ctrl.hasNew === true}">New</span></a></li>

      <li class="nav-item"><a class="nav-link" ng-class="{'active':vm.getParam('orderBy') === 'commentsUp'}" ng-click="vm.setParam('orderBy','commentsUp');" href="">Discussed</a></li>

      <li class="nav-item"><a class="nav-link" ng-class="{'active':vm.getParam('orderBy') === 'dtDown'}" ng-click="vm.setParam('orderBy','dtDown');" href="">Old</a></li>

    </ul>
    <popover-sourcetype type="vm.getParam('sourceType')" class="hanging-order"></popover-orderby>

  </div>

  <div class="container-fluid news-nav-menu">

    <div class="row">

      <div class="col-6 text-left">

        <popover-orderby class="pull-left float-left" order="vm.getParam('orderBy')" hide-title="true"></popover-orderby>

      </div>
      <div class="col-6 text-right">

        <popover-sourcetype class="pull-right float-right" type="vm.getParam('sourceType')"></popover-sourcetype>      
      
      </div>

    </div>

    <hr>

	</div>

</div>
<div class="news">

  <div class="container-fluid">

  	<div ng-if="ctrl.items">

  		<div ng-repeat="item in ctrl.items | orderBy:vm.orderBy()">

  			<news-item item="item" logos="ctrl.config.logos" class="item"></news-item>

  		</div>

  	</div>

  	<div class="more" ng-click="vm.more()" ng-show="ctrl.items.length > 0"><span>more</span></div>

  </div>

</div>

<div class="cssload-wrapper" ng-show="ctrl.config.isLoading === true">
  <div class="cssload-loader"></div>
</div>