<!--<div ng-show="ctrl.source" class="content-pad">
	
	<div class="source">

		<div class="hero-banner">

			<div class="save" ng-show="vm.isLoggedIn()">
				<a href="" ng-click="vm.save()" title="Follow {{ctrl.source.name}}" ng-class="{'':ctrl.source.isFollowed!==1,'active':ctrl.source.isFollowed==1}">
					
					<span >Follow <i class="fa fa-user-o" aria-hidden="true"></i></span>

				</a>

			</div>

			<img ng-show="ctrl.source.logo && ctrl.source.logo !== null" src="{{ctrl.logos}}{{ctrl.source.logo}}" />
			<img ng-show="!ctrl.source.logo || ctrl.source.logo === null" src="{{ctrl.logos}}eu.stars.nobg.png" />
			<div class="container-fluid context-menu">

				<div class="row justify-content-center align-items-center">

					<div class="col-auto">
						<i class="fa fa-user-o" aria-hidden="true"></i> {{ctrl.source.stat_followers}}
					</div>
					<div class="col-auto">
						<i class="fa fa-heart-o" aria-hidden="true"></i> {{ctrl.source.stat_votes}}
					</div>
					<div class="col-auto">
						<i class="fa fa-newspaper-o" aria-hidden="true"></i> {{ctrl.source.stat_items}}
					</div>
					<div class="col-auto">
						<i class="fa fa-comments-o" aria-hidden="true"></i> {{ctrl.source.stat_comments}}
					</div>

				</div>

			</div>

		</div>
	</div>
	<div ng-controller="NewsController" ng-include="'views/news.html'"></div>

</div>
-->

<div class="source">

	<div class="row">

		<div class="col-auto">
			{{source.stub}}
		</div>
		<div class="col-auto">
			{{source.name}}
		</div>

	</div>

</div>