<div class="item-comment-container content-pad">

	<div class="container" ng-show="ctrl.comments">

		<div class="row justify-content-center">

			<div class="col-md-8 col-xs-8">

				<comments comments="ctrl.comments" sort="ctrl.sort"></comments>

			</div>

		</div>

	</div>

</div>