<div class="container-fluid content-pad user-settings" ng-show="vm.isLoggedIn()">


	<div class="row justify-content-center">
	
		<div class="col-md-8 col-12 cat">

			<a class="heading" href="" ng-click="ctrl.pass.show = !ctrl.pass.show">
				<span ng-show="!ctrl.pass.show"><i class="fa fa-caret-right" aria-hidden="true"></i></span>
				<span ng-show="ctrl.pass.show"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
				 Password
			</a>

			<div ng-show="ctrl.pass.show" class="bulk">

				<form>

					<div class="form-group container-fluid">

						<div class="row">						

							<div class="col-4">New password</div>

						</div>

						<div class="row">						

							<div class="col-12"><input class="form-control" type="password" name="newPassInit" ng-model="ctrl.pass.init"></div>

						</div>

						<div class="row">						

							<div class="col-12">Repeat to verify  <span ng-show="ctrl.pass.init !== ctrl.pass.rpt"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span></div>

						</div>

						<div class="row">						

							<div class="col-12"><input class="form-control" type="password" name="newPassRpt" ng-model="ctrl.pass.rpt"></div>

						</div>

						<div class="row">						

							<div class="col-12">
								<button class="btn btn-primary" ng-click="vm.proc.pass()">Submit</button>
							</div>

						</div>

					</div>

				</form>

			</div>

		</div>

	</div>

	<div class="row justify-content-center">
	
		<div class="col-md-8 col-12 cat">

			<a class="heading" href="" ng-click="ctrl.email.show = !ctrl.email.show">
				<span ng-show="!ctrl.email.show"><i class="fa fa-caret-right" aria-hidden="true"></i></span>
				<span ng-show="ctrl.email.show"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
				 Email
			</a>

			<div ng-show="ctrl.email.show" class="bulk">

				<form>

					<div class="form-group container-fluid">

						<div class="row">						

							<div class="col-auto">Email address to associate with your account</div>
							<div class="col-8"><input class="form-control" type="email" name="newEmail" ng-model="ctrl.email.init"></div>

						</div>

						<div class="row">						

							<div class="col-auto">
								<button class="btn btn-primary" ng-click="vm.proc.email()">Submit</button>
							</div>

						</div>

					</div>

				</form>

			</div>

		</div>

	</div>

	<div class="row justify-content-center">
	
		<div class="col-md-8 col-12 cat">

			<a class="heading" href="" ng-click="ctrl.log.show = !ctrl.log.show">
				<span ng-show="!ctrl.log.show"><i class="fa fa-caret-right" aria-hidden="true"></i></span>
				<span ng-show="ctrl.log.show"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
				 Logs
			</a>

			<div ng-show="ctrl.log.show" class="bulk">

				<div class="row" ng-repeat="msg in ctrl.log.data | orderBy:['-dt']">						
						
						<div ng-show="msg.m" class="col-auto">
							. {{msg.m}}
						</div>
						<div ng-show="msg.e" class="col-auto">
							! {{msg.e}}
						</div>

				</div>

			</div>

		</div>

	</div>

	<div class="row justify-content-center">
	
		<div class=" col-md-8 col-12 cat">

			<a class="heading" href="" ng-click="ctrl.connection = !ctrl.connection">
				<span ng-show="!ctrl.connection"><i class="fa fa-caret-right" aria-hidden="true"></i></span>
				<span ng-show="ctrl.connection"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
				 Advanced
			</a>

			<div ng-show="ctrl.connection" class="bulk">
				
				<h5>JSON Web Token</h5>
				{{ctrl.secret}}
				<div><a href="" ng-click="vm.retrieve.secret()" class="small-text">request new connection secret</a></div>

				<h5 class="bulk">Your Data</h5>

				<div class="row">
					<div class="col-auto">API ID</div>
					<div class="col-12">{{ctrl.api.apiId}}</div>
				</div>
				<div class="row">
					<div class="col-auto">API TOKEN</div>
					<div class="col-12">
						{{ctrl.api.token}}
						<div><a href="" ng-click="vm.retrieve.token()" class="small-text">request new API token</a></div>
					</div>
				</div>

			</div>

		</div>

	</div>


</div>