<div class="user-saves content-pad">

	<ul class="nav nav-tabs" id="myTab" role="tablist">
	
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" ng-click="ctrl.nav.tab = 'items'" ng-class="{'active':ctrl.nav.tab === 'items','':ctrl.nav.tab !== 'items'}" href="/u/{{vm.userName()}}/saves/items" role="tab">Items</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" ng-click="ctrl.nav.tab = 'comments'" ng-class="{'active':ctrl.nav.tab === 'comments','':ctrl.nav.tab !== 'comments'}" href="/u/{{vm.userName()}}/saves/comments" role="tab">Comments</a>
		</li>
	
	</ul>
	<div class="tab-content h-100">

		<div class="tab-pane" id="items" ng-click="ctrl.nav.tab = 'items'" ng-class="{'active':ctrl.nav.tab === 'items','':ctrl.nav.tab !== 'items'}" role="tabpanel">
			
			<div ng-if="ctrl.items" class="container-fluid">

				<div class="sorting"> Sort by: 
					<a href="" ng-click="vm.orderBy('likes');ctrl.nav.category = 'likes'" ng-class="{'active':ctrl.nav.category==='likes'}">likes</a> 
					<a href="" ng-click="vm.orderBy('dislikes');ctrl.nav.category = 'dislikes'" ng-class="{'active':ctrl.nav.category==='dislikes'}">dislikes</a> 
					<a href="" ng-click="vm.orderBy('new');ctrl.nav.category = 'new'" ng-class="{'active':ctrl.nav.category==='new'}">new</a> 
					<a href="" ng-click="vm.orderBy('old');ctrl.nav.category = 'old'" ng-class="{'active':ctrl.nav.category==='old'}">old</a> 
				</div>

				<div ng-repeat="item in ctrl.items | orderBy:ctrl.sort">

					<news-item item="item" logos="ctrl.nav.items.logos" class="item"></news-item>

				</div>

			</div>

			<div class="more" ng-click="vm.more('items')" ng-show="ctrl.items.length > 0"><span>more</span></div>

		</div>
		<div class="tab-pane comment-pane h-100" ng-class="{'active':ctrl.nav.tab === 'comments','':ctrl.nav.tab !== 'comments'}" id="comments" role="tabpanel">

			<div ng-show="ctrl.comments" class="container">

				<div class="row justify-content-center">

					<div class="col-8">

						<div class="sorting"> Sort by:
							<a href="" ng-click="vm.orderBy('likes');ctrl.nav.category = 'likes'" ng-class="{'active':ctrl.nav.category==='likes'}">likes</a> 
							<a href="" ng-click="vm.orderBy('dislikes');ctrl.nav.category = 'dislikes'" ng-class="{'active':ctrl.nav.category==='dislikes'}">dislikes</a> 
							<a href="" ng-click="vm.orderBy('new');ctrl.nav.category = 'new'" ng-class="{'active':ctrl.nav.category==='new'}">new</a> 
							<a href="" ng-click="vm.orderBy('old');ctrl.nav.category = 'old'" ng-class="{'active':ctrl.nav.category==='old'}">old</a> 
						</div>

						<comments comments="ctrl.comments" sort="ctrl.sort" class="comments" is-standalone="true"></comments>

					</div>

				</div>

			</div>		

		</div>

	</div>

</div>