<div ng-if="ctrl.items" class="container-fluid content-pad">

	<div ng-repeat="item in ctrl.items | orderBy:vm.orderBy()">

		<news-item item="item" logos="ctrl.nav.items.logos" class="item"></news-item>

	</div>

</div>

<div class="more" ng-click="vm.more()" ng-show="ctrl.items.length > 0"><span>more</span></div>

<div ng-include="'views/directives/nav.categories.html'"></div>