<div class="comment-box">

	<div class="row">

		<div class="col-12">

			<form class="h-100">
				<div class="form-group h-100">
					<textarea ng-model="ctrl.input.txt" placeholder="{{'No racism, sexism or personal attacks\n\nBe polite and to the point.'}}" class="form-control"></textarea>
				</div>
			</form>

		</div>

	</div>

	<div class="row">

		<div class="col align-self-start">

			<a ng-click="vm.clear()">reset</a>

		</div>

		<div class="col align-self-end text-right">

			<a ng-click="vm.submit()">submit</a>

		</div>

	</div>

</div>