<div class="comment" id="comment-{{comment.stub}}" ng-show="comment">

	<div class="small-text w-100 container-fluid">

		<div class="row justify-content-between">

			<div class="col-auto">

				<div class="small-text" ng-show="comment.dt_edit !== null">edited {{vm.date(comment.dt_edit)}} ago</div>
			
			</div>
			<div class="col-auto">
 
				<a href="" title="report this comment" ng-click="ctrl.show.report = !ctrl.show.report"><span class="report-num" ng-show="comment.reported>0">{{comment.reported}} </span><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a>
			
			</div>

		</div>
	
	</div>
	<div class="box">

		<div class="h-100">

			<div class="text {{ctrl.text.size}}-text">

				<div class="cover-field" ng-class="{'cover-field-show':ctrl.show.delete}" ng-show="ctrl.show.delete">
					<div class="row align-items-center h-100 justify-content-center">
						<div class="col-auto">
							Are you sure? <a href="" ng-click="vm.delete()">Y</a>/<a href="" ng-click="ctrl.show.delete = !ctrl.show.delete">N</a>
						</div>
					</div>
				</div>

				<div class="cover-field" ng-class="{'cover-field-show':ctrl.show.report}" ng-show="ctrl.show.report">
					<div class="row align-items-center h-100 justify-content-center">
						<div class="col-auto">
							Are you sure? <a href="" ng-click="vm.report()">Y</a>/<a href="" ng-click="ctrl.show.report = false">N</a>
						</div>
					</div>
				</div>

				<div class="cover-field cover-field-show" ng-show="comment.isDeleted === 1">
					<div class="row align-items-center h-100 justify-content-center">
						<div class="col-auto">
							<h3>[ DELETED ]</h3>
						</div>
					</div>
				</div>

				<div class="cover-field cover-field-show" ng-show="comment.isRemoved === 1">
					<div class="row align-items-center h-100 justify-content-center">
						<div class="col-auto">
							<h3>[ REMOVED ]</h3>
						</div>
					</div>
				</div>			

				<div class="cover-field cover-field-show" ng-show="comment.reported > 2 && ctrl.show.reported" ng-click="ctrl.show.reported = false">
					<div class="row align-items-center h-100 justify-content-center">
						<div class="col-auto">
							<h3>[ REPORTED ]</h3>
						</div>
					</div>
				</div>

				<div ng-show="!ctrl.show.delete && comment.isDeleted === 0 && comment.isRemoved === 0" markdown-to-html="comment.txt"></div>

			</div>
			<div class="data container-fluid">

				<div class="row justify-content-between">

					<div class="col-12 col-sm-9">

						<div class="row align-items-center">

							<div class="col-1">			

								<nav-votes votes="comment.votes" vote="comment.isVotedOn" comment="comment.stub" class="nav-votes"></nav-votes> 

							</div>

							<div class="col-11 naming">

								<a class="name" ng-show="comment.isDeleted !== 1 && comment.isRemoved !== 1" href="/u/{{comment.user_name}}">{{comment.user_name}}</a>
								<a href="/i/{{comment.item}}/comment:{{comment.stub}}"><i class="fa fa-link" aria-hidden="true"></i></a> {{vm.date(comment.dt)}} ago - 

								<span ng-show="comment.repliesTo<1">{{comment.repliesTo}} replies</span>
								<a ng-show="comment.repliesTo>0 && !isStandalone" href="" ng-click="vm.threads()">{{comment.repliesTo}} 
									<span ng-show="comment.repliesTo!==1">replies</span>
									<span ng-show="comment.repliesTo===1">reply</span>
								</a>
								<a ng-show="comment.repliesTo>0 && isStandalone" href="/i/{{comment.item}}/comment:{{comment.stub}}">{{comment.repliesTo}} 
									<span ng-show="comment.repliesTo!==1">replies</span>
									<span ng-show="comment.repliesTo===1">reply</span>
								</a>

							</div>

						</div>

					</div>

					<div class="col-auto col-sm-3 small-text" ng-show="vm.isLoggedIn()">

						<span ng-show="comment.isByUser!==1 && comment.isDeleted !== 1 && comment.isRemoved !== 1">
				 			<span ng-show="comment.isSaved === 0"><a href="" ng-click="vm.save()">save</a></span>
				 			<span ng-show="comment.isSaved === 1"><a href="" ng-click="vm.save()">✓ saved</a></span>
							<a href="" ng-click="ctrl.show.reply = !ctrl.show.reply">reply</a>				 			
						</span>
						<span ng-show="comment.isByUser===1 && comment.isDeleted !== 1 && comment.isRemoved !== 1">
							<a href="" ng-click="ctrl.show.edit = !ctrl.show.edit">edit</a> <a href="" ng-click="ctrl.show.delete = !ctrl.show.delete">delete</a>
						</span>
						<span ng-show="comment.isByUser===1 && comment.isDeleted === 1">✓ deleted</span>
						<a ng-show="vm.auth()>1" href="" ng-click="vm.remove()">remove</a>
						<a ng-show="vm.auth()>2" href="" ng-click="vm.ban()">ban</a>

					</div>

				</div>

			</div>
			<div class="container reply" ng-class="{'reply-active':vm.isLoggedIn() && comment.isByUser!==1 && ctrl.show.reply}">

				<div class="row">

					<div class="col-12">

						<commentbox comment="comment.stub" item="comment.item"></commentbox>

					</div>

				</div>

			</div>
			<div class="container reply" ng-class="{'reply-active':vm.isLoggedIn() && comment.isByUser===1 && ctrl.show.edit}">

				<div class="row">

					<div class="col-12">

						<commentbox comment="comment.stub" content="comment.txt" is-standalone="isStandalone"></commentbox>

					</div>

				</div>

			</div>
		</div>

	</div>
	<div ng-show="ctrl.comments">

		<div class="row">

			<div class="col-auto reply-bar"></div>
			<div class="col-11">

				<comments comments="ctrl.comments" item="item" children="ctrl.children"></comments>

			</div>

		</div>

	</div>

</div>
