<div class="cookie-warning text-small" ng-class="{'cookie-warning-hide':!show,'cookie-warning-show':show}">

	<div class="container">

		<div class="row">

			<div class="col-10">
				<h4>EU cookie law states I have to tell you I use cookies.</h4>
				<span class="text-small">Do you like cookies? I like cookies. We have cookies.</span>
			</div>
			<div class="col-2">
				<a class="btn btn-sm btn-primary" ng-click="ok()">ok</a>
			</div>

		</div>

	</div>

</div>