<div class="row item-row">
	<!-- {{item}} -->
	<div class="col-1 row-buffer pl-0"></div>
	<div class="col-auto">

		<div class="row h-100">

			<div class="col-auto align-self-center text-center h-100">

				<nav-votes votes="item.votes" vote="item.vote" item="item.stub" class="nav-votes"></nav-votes>

			</div>
			<div class="col-auto align-self-center text-center logo-circle">

				<a class="circle" target="_blank" href="{{item.link}}"><span class="inner" style="background:url({{vm.image()}}) no-repeat center"></span></a>
	
			</div>

		</div>

	</div>
	<div class="col-8 align-self-center">

		<h4><a href="{{item.link}}" target="_blank" ng-bind-html="item._title"></a></h4>

		<div class="subtext">

			<a ng-show="item.source_url_twitter" href="https://www.twitter.com/{{item.source_url_twitter}}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<span ng-show="item.source_url_rss"><i class="fa fa-rss" aria-hidden="true"></i></span> 
 
			<span class="flag-icon flag-icon-eu" ng-show="item.source_type === 'O'"></span> 
			<span ng-show="item.source_isIndividual === 1"><i class="fa fa-user" aria-hidden="true"></i></span> 
 			<a title="{{item.pubDate}}">{{vm.date()}} ago</a> - 
 			<a href="" ng-click="vm.setSource()">{{item.source_name}}</a> - 
 			<a href="/i/{{item.stub}}">{{item.comments}} comment<span ng-if="item.comments !== 1">s</span></a>
 			<span ng-show="vm.isLoggedIn() && item.saved === 0"> - <a ng-click="vm.save()">save</a></span>
 			<span ng-show="vm.isLoggedIn() && item.saved === 1"> - <a ng-click="vm.save()">✓ saved</a></span>
			<span ng-show="vm.isLoggedIn() && vm.isAuthLvl(2)">  - 
				<span popover-reddit item-title="item.title" item-link="vm.encodeURI(item.link)"></span> 
<!-- 				<a href="https://twitter.com/intent/tweet?text={{item.title}}&&url={{}}" title="share" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
 -->			</span>
		</div>
	
	</div>

</div>