<div class="vote-box top" ng-show="vm.isLoggedIn()"> 
	<a ng-click="vm.vote('u')"></a>
</div>
<div class="vote-box bottom" ng-show="vm.isLoggedIn()"> 
	<a ng-click="vm.vote('d')"></a>
</div>
<div class="vote-box top" ng-show="!vm.isLoggedIn()"> 
	<a href="" data-toggle="tooltip" title="Login to vote" data-placement="top"></a>
</div>
<div class="vote-box bottom" ng-show="!vm.isLoggedIn()"> 
	<a href="" data-toggle="tooltip" title="Login to vote" data-placement="bottom"></a>
</div>

<div class="bg-box">

	<div class="row h-100 text-center">

		<div class="col-12 align-self-center">

			<div class="vote-icon" ng-class="{'vote-icon-disabled':!vm.isLoggedIn(),'vote-icon-up':vm.isLoggedIn && vote>0}">
				<i class="fa fa-chevron-up" aria-hidden="true"></i>
			</div>
			<div>
				{{vm.votes()}}
			</div>
			<div class="vote-icon" ng-class="{'vote-icon-disabled':!vm.isLoggedIn(),'vote-icon-down':vm.isLoggedIn && vote<0}">
				<i class="fa fa-chevron-down" aria-hidden="true"></i>
			</div>

		</div>

	</div>

</div>