<div class="nav-header container-fluid">

	<div class="row h-100 align-items-center justify-content-between">

		<div class="col-auto">

			<div class="row h-100 align-items-center">

				<div class="col-auto">

					<a class="nav-logo" href="" ng-click="vm.uri('/')">

						<span class="circle"></span>

					</a>

				</div>
				<div class="col-auto header-title">

					<a class="header-title-text" href="" ng-click="vm.uri('/')"><span class="header-title-text-light">EU</span>spider.<span class="header-title-text-light">eu</span></a>
					<a class="header-title-subtext" href="" ng-click="vm.uri('/')">Your #1 EU News Miner</a>

				</div>

			</div>

		</div>

		<div class="col-auto text-end">

			<a class="btn" href="" ng-click="vm.themeSwitch()" ng-class="vm.isDark() === true ? 'btn-secondary':'btn-dark'"><i class="fa fa-sun-o" aria-hidden="true"></i></a>

			<nav-header-user></nav-header-user>

		</div>

	</div>

</div>