<div class="nav-overlay" ng-show="ctrl.overlay.init" ng-class="{'nav-overlay-toggle':ctrl.overlay.init,'':!ctrl.overlay.init}" ng-click="vm.close()">

	<div class="nav-overlay-contents" ng-click="$event.stopPropagation();">

		<div class="container-fluid nav-overlay-bottom">
		
			<div class="row justify-content-center" ng-show="ctrl.msg" ng-class="{'fade-out':!ctrl.msg,'fade-in':ctrl.msg}">
			
				<div class="col-md-12">
				
					<div class="alert alert-warning alert-dismissible show" ng-repeat="msg in ctrl.msg track by $index">
						<button type="button" class="close" aria-label="Close" ng-click="ctrl.msg=false">
							<span aria-hidden="true">&times;</span>
						</button>
						{{msg}}
					</div>
				</div>

			</div>

			<div ng-controller="AuthController" ng-if="ctrl.overlay.init === 'register'" ng-include="'views/templates/overlay.auth.register.html'"></div>
			<div ng-controller="AuthController" ng-if="ctrl.overlay.init === 'login'" ng-include="'views/templates/overlay.auth.login.html'"></div>

		</div>

	</div>

</div>