<a class="btn btn-primary" data-toggle="auth-popover" tabindex="0" data-trigger="click" ng-show="!vm.isLoggedIn()" id="auth-popover"><i class="fa fa-user-plus" aria-hidden="true"></i></a>
<a class="btn btn-primary" data-toggle="user-popover" tabindex="0" data-trigger="click" ng-show="vm.isLoggedIn()" id="user-popover"><i class="fa fa-user" aria-hidden="true"></i></a>