

<div ng-show="data">

	<div class="row"> 

		<div class="col-1 row-buffer"></div>

		<div class="col-11">

			<div class="row justify-content-between">

				<div class="col-auto">

					<div class="logo" ng-show="data.logo"><img src="{{logos}}{{data.logo}}" /></div>
					<div class="nologo" ng-show="!data.logo"><span class="circle"></span></div>
					<div class="data">
					
						<h2>{{data.name}}</h2>
						<div class="subtext">

							<i class="fa fa-comments-o" aria-hidden="true"></i> {{data.stat_comments}} Comment<span ng-if="data.stat_comments < 1 || data.stat_comments > 1">s</span>, 
							<i class="fa fa-heart-o" aria-hidden="true"></i> {{data.stat_followers}} Subscription<span ng-if="data.stat_followers < 1 || data.stat_followers > 1">s</span>, 
							<i class="fa fa-chevron-up" ng-class="{'fa-chevron-up':data.stat_votes > -1,'fa-chevron-down':data.stat_votes < 0}" aria-hidden="true"></i> {{data.stat_followers}} User Score 

						</div>

						<button type="button" class="btn btn-sm btn-primary btn-color-unsub" ng-click="vm.sub()" ng-if="data.isFollowed < 1 && vm.isLoggedIn()">Subscribe</button>
						<button type="button" class="btn btn-sm btn-primary btn-color-sub" ng-click="vm.unsub()" ng-if="data.isFollowed > 0 && vm.isLoggedIn()">✔ Subscribed</button>

					</div>

				</div>
				<div class="col-1 text-right">
					<a class="close" ng-click="vm.close()" href="">
						<i class="fa fa-times" aria-hidden="true"></i>
					</a>
				</div>

			</div>

		</div>

	</div>

	<hr />

</div>
