<div class="row">

	<div class="col-12">

		<h3>Login</h3>

		<form class="form-horizontal">

			<div class="form-group">

				<input type="text" class="form-control" ng-model="ctrl.l_name" placeholder="Your Name">

			</div>
			<div class="form-group">
				
				<input type="password" class="form-control" ng-model="ctrl.l_pwd" placeholder="Password">

			</div>
			<div class="form-group">
	
				<input type="checkbox" ng-model="ctrl.l_persistent" checked> Remember me

			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-default" ng-click="vm.login(); $event.stopPropagation();">Sign in</button>
			</div>

		</form>

	</div>

</div>