<div class="row">

	<div class="col-12">

		<h3>Register</h3>

		<form class="form-horizontal">

			<div class="form-group">

				<input type="text" class="form-control" ng-model="ctrl.r_name" placeholder="Your Name">

			</div>
			<div class="form-group">
				
				<input type="password" class="form-control" ng-model="ctrl.r_pwd" placeholder="Password">

			</div>
			<div class="form-group">
	
				<input type="checkbox" ng-model="ctrl.r_persistent"> Remember me

			</div>
			<div class="form-group">
				
				<button class="btn btn-default" ng-click="vm.register();">Register Me!</button>
			
			</div>

		</form>

	</div>

</div>