.comment-box {
	
	width:100%;
	font-size:0.8em;
	height:100%;

	textarea {

		font-size:18px;
		line-height:18px;
		height:200px;
		width:100%;
		height:100%;
		border-radius:10px;
		min-height:120px;
		box-shadow: 0 1px 2px 0 rgba(0,0,0,.06);

	}

}

.comment {

	width:100%;
	height:100%;
	margin:33px 0;

	.small-text {

		font-size:0.8em;

	}

	.med-text {

		font-size:1em;

	}

	.lg-text {

		font-size:1.5em;

	}

	.box {

		width:100%;
		height:100%;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,.06);

		border-radius:10px;
		background-color:#FFF;

		.text {

			position:relative;
			color:$color-nav-dark;
			height:75%;
			min-height:150px;
			padding:5px;

			div {

				max-height:500px;

				div {

					p {
						display:block;
					}
					img {

						max-height: 100% !important;
						max-width: 100% !important;
						object-fit: contain !important;
					}

					overflow-y:auto;

				}
			}
		}

		.data {

			height:25%;
			min-height:70px;

			.naming {

				font-size:0.8em;

				a.name {
					display:block;
				    font-size: 1.75rem;
					margin:0;
					padding:0;
				}

			}

		}

		.cover-field {

			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			z-index:100;
			
			opacity:0;
			overflow:hidden;

			background-color:$color-nav-dark;
			border-top-left-radius:10px;
			border-top-right-radius:10px;
			
			color:#FFF;

			-moz-transition: opacity 0.3s; // Mozilla
			-webkit-transition: opacity 0.3s; // Webkit
			transition: opacity 0.3s; // W3C
			
			text-align:center;
			a {
				color:#FFF;
			}

			a:hover {

				color:$color-nav-light;

			}

		}

		.cover-field-show {

			opacity:1;

		}

		.reply {

			margin-top:10px;
			height:0px;
			overflow:hidden;
			-moz-transition: height 0.3s; // Mozilla
			-webkit-transition: height 0.3s; // Webkit
			transition: height 0.3s; // W3C

		}

		.reply-active {

			height:200px;

		}



		.expander {

			height:0px!important;
			overflow:hidden;
		}

		.expander-active {

				height:100%!important;

		}

	}

	.reply-bar {

		border-right:3px solid $color-nav-grey-light;
	
	}

}