.news {

	.container-fluid {

		padding:0!important;

	}
	.row {

		margin-left:0!important;
		margin-right:0!important;

	}

}

a {

	color:#000;

}

.content {

	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;

	overflow-y:scroll;
	z-index:1;

	.nav-pane {

		position:relative;

	}

	.more {

		display:table;
		
		height:60px;
		width:100%;
		border-top:1px solid #CCC;
		border-bottom:1px solid #CCC;
		cursor:pointer;

		span {
			display:table-cell;
			width:100%;
			height:100%;
			vertical-align:middle;
			text-align:center;
			line-height:3vh;
			font-size:3vh;
		}

	}

	a.circle {

		position:relative;
		display:inline-block;
		height:60px;
		width:60px;
		border-radius:50%;
		overflow:hidden;

		.inner {

			background-color:#FFF;

			background-size:cover !important;

			transition: transform 0.5s ease-in !important;
			-moz-transition: transform 0.5s ease-in !important;
			-ms-transition: transform 0.5s ease-in !important;
			-o-transition: transform 0.5s ease-in !important;
			-webkit-transition: transform 0.5s ease-in !important;

			display:block;
			height:100%;
			width:100%;

		}

		.inner:hover {
			transform:scale(1.5);
		}

	}

}

.content-pad {
	padding-top:90px!important;
}