.cookie-warning {
  
  position: fixed;
  width: 100%;
  bottom: 0;
  background: rgba(30, 51, 70, 0.8);
  color:#FFF;
  -webkit-transition: height 2s; /* Safari */
  transition: height 0.5s;
  z-index:10000;
  
  .row {
    padding: 20px 0;
  }

  a {
    cursor:pointer;
    text-decoration:none;
    color:#FFF;
  }

}

.cookie-warning-show {

  height:120px;

}
.cookie-warning-hide {

  height:0px;

}