.item-container {

	-webkit-box-shadow:0px 3px 1px $color-nav-grey;
	 -moz-box-shadow:0px 3px 1px $color-nav-grey;
	 box-shadow:0px 3px 1px $color-nav-grey;	
	 padding-bottom:33px;

	.logged-out {

		color:$color-nav-light;
		font-size:2em;
		text-align:center;
		width:100%;

	}

}

.item-comment-container {
	
	padding-top:33px;
	position:relative;
	min-height:100vh;

	.sorting {
		margin-top:10px;
		font-size:0.8em;
		a.active {
			color:$color-nav-light;
		}

	}

	.reply-field {

		position:absolute;
		z-index:100;
		top:0;
		right:0;
		width:32px;

		a.reply-field-button {
			width:32px;
			height:32px;
			border-radius:50%;
			background-color:$color-nav-dark;
			display:block;
			text-align:center;
			line-height:30px;
			font-size:1.75rem;
			font-weight:bold;
			color:#FFF;

		}

	}

	.reply-box {

		border-radius:10px;
		background-color:#FFF;
		height:0px;
		overflow:hidden;
		-moz-transition: height 0.3s; // Mozilla
		-webkit-transition: height 0.3s; // Webkit
		transition: height 0.3s; // W3C
	
		.box {

			padding:10px;

		}

	}

	.reply-box-active {

		height:200px;

	}

}

.item {
	
	.item-row {

		padding:10px 0;

		.emoji {

			width:16px;

		}

		.subtext {

			font-size:0.8rem;
			
			a:focus {
    			outline: none !important;
			}
		
		}

	}



}



.popover-body {
	padding:0;
}

.share-reddit {

	input {
			min-height:32px;
	}

	input[type='submit']{
		width:25%;
	}
	input[type='text']{
		width:75%;

	}

}