.nav-header {
	
	width:100%;
	height:70px;
	position:fixed;
	top:0;
	z-index:999;
	background-color:$color-nav-dark-opaque;

	font-family:futrfw,Arial,sans-serif;
	color:#FFF;
	
	clear:both;

	a {

		color:#FFF;

	}

	.nav-header-link {

		cursor:pointer;

	}

	a.header-title-text {

		display:block;
		color:#FFF;
		font-size:2em;
		line-height:1em;
		
		.header-title-text-light {

			color:$color-nav-light;

		}

	}

	.header-title-subtext {
	
		font-size:0.7em;
		display:block;
		margin-left:1em;
	
	}

	a.new-btn:hover {

		color:$color-nav-light;
	
	}
	a.new-btn-disabled {
		color:$color-nav-grey;
	}
	a.new-btn-disabled:hover {
		color:$color-nav-grey;
	}

}

.nav-bottom-menu {
	display:none;
}

.nav-bottom-menu-toggle {

	left:0vw;

}

.nav-overlay {
	
	position:fixed;
	z-index:10000;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0,0,0,0.66);
	-moz-transition: opacity 0.3s; // Mozilla
	-webkit-transition: opacity 0.3s; // Webkit
	opacity:0;

	.nav-overlay-contents {

		position:relative;
		width:45vw;
		background-color:rgba(255,255,255,0.9);
		border-radius:5px;
		margin:5vh auto;


		.nav-overlay-bottom {

			height:calc( 100% - 72px );
			overflow-y:auto;
			padding-top:24px;

		}

		.nav-overlay-top {

			height:72px;
			background-color:$color-nav-dark;
			color:#FFF;
			align-items:center;
			font-size:0.8em;

			.nav-overlay-nav-logo {

				cursor:pointer;
				display:inline-block;
				width:40px!important;
				height:40px!important;
				
				margin-left:0;

				.circle {

					border:2px solid #FFF!important;

				}

			}

			.nav-overlay-title {

				cursor:pointer;

			}

		}

	}



	.nav-overlay-stuff {

		overflow-y: auto;
		padding-top:32px;

	}

}

.nav-overlay-toggle {
	
	opacity:1;

}

a.nav-logo,.nav-logo {

	width:56px;
	height:56px;
	display:block;

	.circle {

		border-radius:50%;
		border:3px solid #FFF;
		height:100%;
		width:100%;
		overflow:hidden;
		display:block;
		background:url(/img/euspider.png);
		background-size:cover;
		background-position:center;
	}

}

.nav-votes {

	display:block;
	width:100%;
	min-width:30px;

	.vote-box {

		position:absolute;
		z-index:300;
		left:0;
		right:0;
		text-align:center;

		a {

			display:block;
			height:100%;
			width:100%;

		}

	}
	.top {

		top:0;
		bottom:50%;

	}
	.bottom {

		top:50%;
		bottom:0;

	}
	.bg-box {

		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		text-align:center;

		.vote-icon {
			line-height:0.8em;
			font-size:0.8em;
			color:#CCC;
		}
		.vote-icon-disabled {
			color:#DDD;
		}
		.vote-icon-up {
			color:$color-nav-light;
		}
		.vote-icon-down {
			color:$color-nav-dark;
		}
	}
	
}

.nav-header-menu {
	
	position:absolute;
	top:70px;
	height:0px;
	left:0;
	right:0;
	background-color:$color-nav-opaque;
	-moz-transition: height 0.3s; // Mozilla
	-webkit-transition: height 0.3s; // Webkit
	z-index:100;
	overflow:hidden;

	a {

		padding:5px;
		margin:3px 3px;
		border-radius:3px;
		color:#FFF;
		display:inline-block;
		background-color:$color-nav-grey;
		font-size:0.8em;
		min-width:100px;

		span,i {

			margin-right:5px;

		}

	}

	a:hover {

		background-color:$color-nav-light;

	}
}

.nav-header-menu-expand {
	
	height:36px;

}

.news-nav-tabs {
	font-size:0.7em;
}
