
.popover-link-content {
	
	a {

		display:block;
		width:100%;
		padding-left: 3px;
		padding-right:3px;
	}

	a.active {

		color:$color-nav-light;

	}

	ul {

		padding-left:10px;
		padding-right:10px;

		li {
		
			font-size:1rem;
			list-style:none;
			padding:5px 0;
		}

	}


}

a.order-menu-list {
	
	font-size:0.8rem;
	display:inline-block;
	padding:0!important;

	.title {
		text-align:right;
		display:block;
		font-size:0.6rem;
		width:100%;

	}

}


.hanging-order {

	position:absolute;
	top:0;
	right:5px;
	width:inherit;
	text-align:right;
	height:30px;

}