.source {
	
	width:100%;
	height:100px;
	position:relative;

	.logo {

		margin-left:15px;
		width:128px;
		display:inline-block;
		overflow:hidden;

		img {

			width:100%;

		}

	}

	.nologo {

		width:100px;
		height:100px;
		margin-left:42px;
		display:inline-block;
		overflow:hidden;

		.circle {

			border-radius:50%;
			border:3px solid #FFF;
			height:100%;
			width:100%;
			overflow:hidden;
			display:block;
			background:url(/img/euspider_logo.png);
			background-size:cover;
			background-position:center;
		
		}

	}

	a.close {

		width:42px;
		height:42px;
		display:block;

		border-radius:100%;
		border:3px solid $color-nav-dark-opaque;
		text-align:center;
		line-height:36px;
		color:$color-nav-dark-opaque;

	}

	a.close:hover {

		border:3px solid $color-nav-light;

	}


	.data {

		display:inline-block;

	}

	h2 {

		margin:0px;
		padding:0px;

	}

	.subtext {

		font-size:0.8em;

	}

	.btn-color-unsub {

		background-color:$color-nav-dark-opaque;
		border-color:$color-nav-dark-opaque;

	}

	.btn-color-sub {

		background-color:$color-nav-light;
		border-color:$color-nav-light;

	}

}