.user-saves {


	.sorting {
		margin-top:10px;
		font-size:0.8em;
		a.active {
			color:$color-nav-light;
		}

	}

	.comment-pane {

		background-color:$color-nav-grey-light;
		min-height:100%;


	}

}

.user-settings {
	
	a.small-text {

		font-size:0.8em;

	}

	min-height: 100vh;margin-top:-20px;
	background-color:$color-nav-grey-light;
	.cat {

		border-radius: 5px;
		padding:30px;
		background-color:#FFF;
		margin-top: 10px;
		padding:10px;
		word-wrap: break-word;
	
		a.heading {
			
			margin:0;
			padding:0;
			font-size:1.25rem;
			display:block;
			
		}

		a.heading > span {

			display:inline-block;
			width:10px;
			margin-right:10px;

		}

		.bulk {

			 padding-top:20px;

		}

	}

}