<div class="popover-link-content">
  <ul>
    <li>
      <a href="/" title="Home"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
    </li>
    <li>
      <a href="" ng-click="vm.overlay('auth','login')" title="Login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
    </li>
    <li>
      <a href="" ng-click="vm.overlay('auth','register')" title="Login"><i class="fa fa-user-plus" aria-hidden="true"></i> Register</a>
    </li>
  </ul>
</div>