<div class="popover-link-content">
  <ul>
    <li>
      <a href="/" title="Home"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
    </li>
    <li>
      <a href="/u/{{vm.whois()}}" title="Comments"><i class="fa fa-commenting-o" aria-hidden="true"></i> Comments</a>
    </li>
    <li>
      <a href="/u/{{vm.whois()}}/saves/items" title="Saved Items"><i class="fa fa-archive" aria-hidden="true"></i> Saved Items</a>
    </li>
    <li>
      <a href="/u/{{vm.whois()}}/sources" title="Saved Items"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Saved Sources</a>
    </li>
    <li>
      <a href="/u/{{vm.whois()}}/settings" title="Settings"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
    </li>
    <li>
      <a href="" ng-click="vm.logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
    </li>
  </ul>
</div>