<div class="popover-link-content">

  <ul>
  
    <li>
      <a ng-class="order === 'dtUp'? 'active':''" ng-click="order = 'dtUp';vm.orderby('dtUp');">

        <i class="fa fa-bolt" aria-hidden="true"></i> Newest

      </a>
    </li>
    <li>
      <a ng-class="order === 'votesUp'? 'active':''" ng-click="order = 'votesUp';vm.orderby('votesUp');" title="Likes">

        <i class="fa fa-chevron-up" aria-hidden="true"></i> Likes

      </a>
    </li>
    <li>
      <a ng-class="order === 'votesDown'? 'active':''" ng-click="order = 'votesDown';vm.orderby('votesDown');" title="Dislikes">

        <i class="fa fa-chevron-down" aria-hidden="true"></i> Dislikes

      </a>
    </li>
    <li>

      <a ng-class="order === 'commentsUp'?'active':''" ng-click="order = 'commentsUp';vm.orderby('commentsUp');" title="Comments">

        <i class="fa fa-commenting-o" aria-hidden="true"></i> Comments

      </a>
    </li>
    <li>
      <a ng-class="order === 'dtDown'?'active':''" ng-click="order = 'dtDown';vm.orderby('dtDown');" title="Old">

        <i class="fa fa-archive" aria-hidden="true"></i> Oldest

      </a>
    </li>
  </ul>
  
</div>