<a class="btn btn-link btn-small order-menu-list">
  <span class="title" ng-if="!hideTitle">Order By</span>
  <span ng-if="order === 'dtUp'">Newest</span>
  <span ng-if="order === 'votesUp'">Most Liked</span>
  <span ng-if="order === 'votesDown'">Most Disliked</span>
  <span ng-if="order === 'commentsUp'">Most Commented</span>
  <span ng-if="order === 'dtDown'">Oldest</span>
   <i class="fa fa-sort" aria-hidden="true"></i>

</a>