<!-- <a data-toggle="source-type-popover" tabindex="0" data-trigger="click" id="stp-menu-list"><i class="fa fa-bars" aria-hidden="true"></i></a> -->
<a class="btn btn-link btn-small order-menu-list">
  <span class="title">Source Type</span>
  <span ng-if="type === false">All</span>
  <span ng-if="type === 'N'">News</span>
  <span ng-if="type === 'T'">Thinktanks</span>
  <span ng-if="type === 'O'">Official EU</span>
  <span ng-if="type === 'NP'">News - Politics</span>
  <span ng-if="type === 'NS'">News - Sport</span>
  <span ng-if="type === 'NT'">News - Tech</span>
  <i class="fa fa-sort" aria-hidden="true"></i>
</a>