<div class="popover-link-content">

  <ul>
    <li>
      <a ng-class="!type ? 'active':''" ng-click="vm.sourceTypeUpdate('false')">

    All

      </a>
    </li>
    <li>

      <a ng-class="type === 'N' ? 'active':''" ng-click="vm.sourceTypeUpdate('N')">

        News

      </a>
    </li>
    <li>

      <a ng-class="type === 'T' ? 'active':''" ng-click="vm.sourceTypeUpdate('T')">

        Thinktanks

      </a>

    </li>
    <li>

      <a ng-class="type === 'O' ? 'active':''" ng-click="vm.sourceTypeUpdate('O')">

        Official Agencies

      </a>

    </li>
    <li>

      <a ng-class="type === 'NP' ? 'active':''" ng-click="vm.sourceTypeUpdate('NP')">

        News - Politics

      </a>

    </li>
    <li>

      <a ng-class="type === 'NS' ? 'active':''" ng-click="vm.sourceTypeUpdate('NS')">

        News - Sports

      </a>

    </li>
    <li>

      <a ng-class="type === 'NT' ? 'active':''" ng-click="vm.sourceTypeUpdate('NT')">

        News - Technology

      </a>

    </li>

</div>