<!doctype html>
<html lang="en">

    <head>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        
        <meta name="description" content="European News Aggregator" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:url" content="https://euspider.eu" />
        <meta name="twitter:title" content="EUspider.eu - Your #1 EU News Miner" />
        <meta name="twitter:description" content="EUSpider is a European News Aggregator providing news from all over the EU." />
        <meta name="twitter:image" content="https://euspider.eu/img/euspider.png" />
        <meta property="og:url" content="https://euspider.eu" />
        <meta property="og:title" content="EUspider.eu - Your #1 EU News Miner" />
        <meta property="og:image" content="https://euspider.eu/img/euspider.png" />
        <meta property="og:description" content="European News Aggregator" />


        <base href="/">
        <title>EUspider.eu - Your #1 EU News Miner</title>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

        <link href="css/global.css" rel="stylesheet" title="Default Style">

        <link rel="icon" type="image/png" href="/img/ico/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/img/ico/favicon-16x16.png" sizes="16x16" />

        <link rel="shortcut icon" href="/img/ico/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="/img/ico/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/img/ico/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/img/ico/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/img/ico/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/img/ico/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/img/ico/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/img/ico/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/img/ico/apple-touch-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/img/ico/apple-touch-icon-180x180.png" />

        <link ng-if="current.navs.dark" ng-href="https://bootswatch.com/4/cyborg/bootstrap.css" rel="stylesheet">

    </head>

    <body>

        <nav-overlay-auth></nav-overlay-auth>
        <nav-header></nav-header>

        <div class="content h-100">

            <ng-view></ng-view>

        </div>

        <cookie-warning></cookie-warning>
        <script src="js/bundle.js"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108433017-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-108433017-1');
        </script>

        <script src="//twemoji.maxcdn.com/2/twemoji.min.js?2.3.1"></script>

    </body>

</html>